body{
	display: block;
	margin: auto;
}

.container{
	font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.logo{
	float: left;
	padding-left: 100px;
	padding-top: 15px;

}
.menu{
	float: right;

}
.menu ul{
	font-size: 16px;
    font-weight: 400;
    display: flex;
    margin-right: 5px;
    padding-right: 100px;
    

}
.menu ul li{
	font-size: 16px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    padding: 5px 15px;

}
.menu ul li a{
	font-size: 16px;
    list-style: none;
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 4px;

}
h1{
	color: #008aff;
}
h2{
	color: red;
}
.css{
	text-align: center;
	color: navy;
}